html
  head
    link(rel="stylesheet", type="text/css", href="style.css")
  body
    script(type="application/javascript", src="ts.js")
    .form
      .n
        | n:
        input#n(value=100)
      .t
        | t:
        input#t(value=1000)
      button#button start
      button#redo redo
    #map
